/* Start Variables */
:root {
  ---mainColor: rgb(12, 12, 12);
  --secondaryColor: rgb(40, 190, 228);
  --thirdColor: rgb(15 116 143/90%);
}
/* End Variables */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Component */
.special-heading {
  text-align: center;
  margin: 50px auto;
  width: fit-content;
}
.special-heading h2 {
  margin: 0 auto;
  font-weight: normal;
  font-size: 30px;
  padding: 15px;
  position: relative;
  width: fit-content;
  text-transform: uppercase;
}
.special-heading h2::after {
  content: "";
  position: absolute;
  width: calc(100% - 50px);
  height: 2px;
  background: #777;
  left: 25px;
  bottom: 0;
}
.special-heading h2::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #777;
  border-radius: 50%;
  left: 50%;
  bottom: -5px;
  background-color: white;
  z-index: 2;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.special-heading p {
  color: #777;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: -0.5px;
  max-width: 550px;
  margin: 15px;
}
/* End Component */
/* Start Header */
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background-color: white;
  bottom: 0px;
  left: 15px;
}
header .container .logo img {
  width: 120px;
  cursor: pointer;
}
header .container nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
header .container nav .toggle {
  cursor: pointer;
  font-size: 15px;
  color: white;
}
@media (min-width: 768px) {
  header .container nav .toggle {
    display: none;
  }
}

header .container nav ul {
  display: flex;
}
@media (max-width: 768px) {
  header .container nav ul {
    display: none;
  }
}
header .container nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 40px 10px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  border-bottom: 1px solid transparent;
  position: relative;
  z-index: 2;
}
header .container nav ul li a:hover {
  color: var(--secondaryColor);
  border-bottom-color: var(--secondaryColor);
}
header .container nav .icon {
  width: 40px;
  height: 30px;
  margin-left: 30px;
  position: relative;
  border-left: 1px solid white;
  cursor: pointer;
}
header .container nav .icon:hover {
  border-left-color: var(--secondaryColor);
}
header .container nav .icon i {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 15px;
  color: white;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
header .container nav .icon:hover i {
  color: var(--secondaryColor);
}
@media (max-width: 768px) {
  header .container nav .toggle:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: black;
  }
  header .container nav .toggle:hover + ul li a {
    padding: 10px;
    display: block;
  }
  header .container nav .toggle:hover + ul li a:hover {
    padding-left: 20px;
  }
}
/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: black;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 50%;
  padding: 40px;
  color: white;
  background-color: var(--thirdColor);
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width: 768px) {
  .landing .text {
    width: 100%;
  }
  .landing .content {
    width: 100%;
  }
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}
.landing .left,
.landing .right {
  position: absolute;
  z-index: 2;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.landing .left {
  top: 50%;
  margin-left: 10px;
}
.landing .right {
  top: 50%;
  right: 0;
  margin-right: 10px;
}
.landing .left:hover,
.landing .right:hover {
  color: var(--secondaryColor);
}
@media (max-width: 768px) {
  .landing .right,
  .landing .left {
    display: none;
  }
}
.landing ul {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  cursor: pointer;
}
.landing ul li {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 5px;
  margin: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.landing ul li.active {
  background-color: var(--secondaryColor);
}
.landing ul li:hover {
  background-color: var(--secondaryColor);
}
/* End Landing */
/* Start Services */
@media (min-width: 768px) {
  .services .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 30px;
  }
}
.services .content .service {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.services .content .service .text {
  margin-left: 30px;
}
.services .content .service .text h2 {
  color: var(--secondaryColor);
  margin-bottom: 30px;
  font-size: 25px;
}
.services .content .service .text p {
  line-height: 2;
  color: #777;
  font-size: 14px;
}
@media (max-width: 768px) {
  .services .content .service {
    margin-top: 60px;
    flex-direction: column;
    text-align: center;
  }
  .services .content .service i {
    margin-bottom: 16px;
  }
}
/* End Services */
/* Start Ours */
.ours {
  height: 700px;
  display: flex;
  background-color: black;
  overflow: hidden;
  position: relative;
  align-items: center;
}
.ours .content {
  flex: 1;
  color: white;
  background-color: var(--thirdColor);
  height: fit-content;
  padding: 50px;
}
.ours .content > p {
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 50px;
}
.ours .content .list .line {
  display: flex;
  padding: 10px;
}
.ours .content .list .line i {
  margin-right: 15px;
  font-size: 20px;
}
.ours .content .list .line p {
  font-size: 20px;
}
@media (max-width: 768px) {
  .ours .image {
    display: none;
  }
}
.ours .image {
  flex: 1;
  text-align: center;
}
.ours .image img {
  width: 400px;
  position: relative;
  bottom: -150px;
}
/* End Ours */
/* Start Portfolio */
.portfolio .container .shuttle {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}
.portfolio .container .shuttle li {
  padding: 10px 30px;
  border: 1px solid var(--secondaryColor);
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
@media (max-width: 768px) {
  .portfolio .container .shuttle li {
    padding: 5px 10px;
  }
}
.portfolio .container .shuttle li:hover {
  background-color: var(--secondaryColor);
  color: white;
}
.portfolio .images {
  padding: 20px;
  margin-top: 20px;
  display: grid;
}
@media (min-width: 768px) {
  .portfolio .images {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
@media (min-width: 1199px) {
  .portfolio .images {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  }
}
.portfolio .images .box {
  height: 300px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  /*width: 100%;*/
}
.portfolio .images .box img {
  width: 100%;
  height: 100%;
}
.portfolio .images .box .caption {
  position: absolute;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  bottom: -100%;
  left: 50%;
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 20px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.portfolio .images .box:hover .caption {
  bottom: 0;
}
/* End Portfolio */
/* Start Video */
.video {
  margin-top: 100px;
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.video video {
  width: 100%;
}
.video .text {
  position: absolute;
  width: 100%;
  top: 50%;
  background-color: var(--thirdColor);
  text-align: center;
  padding: 30px;
  color: white;
  max-height: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.video .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 30px;
  font-size: 30px;
}
.video .text p {
  margin-bottom: 30px;
}
.video .text button {
  padding: 15px 20px;
  background-color: black;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  border: none;
}
.video .text button:hover {
  background-color: var(--secondaryColor);
  color: white;
}
@media (max-width: 768px) {
  .video .text h2 {
    font-size: 17px;
    margin-bottom: 10px;
  }
  .video .text p {
    margin-bottom: 10px;
  }
  .video .text button {
    padding: 5px 10px;
    font-size: 11px;
  }
}
/* End Video */
/* Start About */
.about {
  padding-top: 50px;
  overflow: hidden;
}
.about img {
  width: 50%;
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: -435px;
  margin-top: -350px;
}
@media (max-width: 768px) {
  .about img {
    bottom: -53px;
    margin-top: -43px;
  }
}
/* End About */
/* Start Stats */
.status {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/portfolio1.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
}
.status::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.status .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.status .container .box {
  color: white;
  padding: 50px;
  background-color: var(--thirdColor);
}
@media (max-width: 767px) {
  .status .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .status .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .status .container .box {
    flex-basis: 25%;
  }
}
.status .container .box i {
  width: 40px;
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto 20px;
}
.status .container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
}
.status .container .box p {
  font-size: 20px;
}
/* End Stats */
/* Start Our Skills */
.our-skills {
  padding: 60px 0;
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container > div > h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.our-skills .container > div > p {
  color: #777;
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}
.our-skills .container .left {
  position: relative;
}
@media (max-width: 992px) {
  .our-skills .container .left {
    margin-bottom: 70px;
  }
  .our-skills .container .left::before {
    content: "";
    position: absolute;
    width: calc(100% - 230px);
    height: 1px;
    background-color: black;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
@media (max-width: 767px) {
  .our-skills .container .left::before {
    width: calc(100% - 120px);
  }
}
.our-skills .container .left .content {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  background-color: #e4d8d8;
  padding: 10px;
  border-radius: 9px;
  position: relative;
}
.our-skills .container .left .content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}
.our-skills .container .left .content .text {
  color: #777;
  line-height: 1.3;
}
.our-skills .container .left .content .name {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .our-skills .container .left .content img {
    width: 70px;
    height: 70px;
  }
  .our-skills .container .left .content .text,
  .our-skills .container .left .content .name {
    font-size: 12px;
  }
}
.our-skills .container .left .bullets {
  display: flex;
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.our-skills .container .left .bullets li {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 5px;
  margin: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.our-skills .container .left .bullets li:hover {
  background-color: var(--secondaryColor);
}
.our-skills .container .left .bullets li.active {
  background-color: var(--secondaryColor);
}
.our-skills .right .prog-holder {
  margin-bottom: 50px;
}
.our-skills .right .prog-holder h4 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.our-skills .right .prog-holder p {
  background-color: #dedadc;
  height: 30px;
}
.our-skills .right .prog-holder p > span {
  display: block;
  height: 100%;
  background-color: var(--secondaryColor);
  position: relative;
}
.our-skills .right .prog-holder p > span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  padding: 10px;
  top: -50px;
  right: -22px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.our-skills .right .prog-holder p > span::after {
  content: "";
  position: absolute;
  border-width: 10px;
  border-color: black transparent transparent transparent;
  border-style: solid;
  right: -5px;
  top: -12px;
}
/* End Our Skills */
/* Start Quote */
.quote {
  padding: 60px 0;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.quote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.quote .container {
  position: relative;
}
.quote .container q {
  position: relative;
  display: block;
  width: fit-content;
  margin: 0 auto 30px;
}
.quote .container q::before {
  content: "\f10d";
  font-family: "FontAwesome";
  font-weight: 800;
  font-size: 30px;
  position: absolute;
  left: -30px;
  top: -25px;
}
.quote .container q::after {
  content: "\f10e";
  font-family: FontAwesome;
  font-weight: 800;
  font-size: 30px;
  position: absolute;
  right: -30px;
  bottom: -25px;
}
@media (max-width: 767px) {
  .quote .container q::before {
    left: 0;
  }
  .quote .container q::after {
    right: 0;
  }
}
.quote .container span {
  font-size: 20px;
  letter-spacing: 2px;
}
/* End Quote */
/* Start Pricing */
.pricing {
  padding-bottom: 50px;
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plans .plan {
  text-align: center;
  background-color: rgb(237 237 237);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.pricing .plans .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--secondaryColor);
  border-bottom: 1px solid var(--secondaryColor);
}
.pricing .plans .plan .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.pricing .plans .plan .head span {
  font-size: 60px;
  font-weight: bold;
  position: relative;
}
.pricing .plans .plan .head span::before {
  content: "$";
  position: absolute;
  font-weight: normal;
  font-size: 20px;
  left: -20px;
}
.pricing .plans .plan .head span::after {
  content: "/Mo";
  position: absolute;
  font-size: 20px;
  font-weight: normal;
  bottom: 0;
}
.pricing .plans .plan ul {
  border-bottom: 1px solid var(--secondaryColor);
}
.pricing .plans .plan ul li {
  padding: 20px;
}
.pricing .plans .plan ul li:not(:last-child) {
  width: fit-content;
  margin: 0 auto;
  border-bottom: 1px solid var(--secondaryColor);
}
.pricing .plans .plan .foot a {
  display: block;
  text-decoration: none;
  color: black;
  width: fit-content;
  margin: 15px auto;
  padding: 10px 15px;
  border: 1px solid var(--secondaryColor);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.pricing .plans .plan .foot a:hover {
  background-color: var(--secondaryColor);
  color: white;
}
.pricing .contact-text {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 17px;
}
.pricing .contact-link {
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: 0 auto;
  background-color: var(--secondaryColor);
  padding: 15px 25px;
  color: white;
  font-size: px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.pricing .contact-link:hover {
  background-color: white;
  border: 1px solid var(--secondaryColor);
  color: black;
}
/* End Pricing */
/* Start Subscribe */
.subscribe {
  padding: 60px 0;
  background-image: url(../images/portfolio1.jpg);
  background-size: cover;
  position: relative;
}
.subscribe::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.subscribe .container {
  position: relative;
  color: white;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe form {
  display: flex;
  width: 500px;
  max-width: 100%;
  position: relative;
  margin-right: 30px;
}
.subscribe form ::placeholder {
  color: white;
}
.subscribe form i {
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.subscribe form input[type="email"] {
  padding: 15px 20px 15px 40px;
  background: none;
  caret-color: var(--secondaryColor);
  color: white;
  width: calc(100% - 130px);
}
.subscribe form input[type="email"]:focus {
  outline: none;
}
.subscribe form input[type="submit"] {
  padding: 15px 20px;
  width: 130px;
  background-color: var(--secondaryColor);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-left: none;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.subscribe form input[type="submit"]:hover {
  background: none;
  border: 1px solid var(--secondaryColor);
  border-left: none;
  color: var(--secondaryColor);
  width: 130px;
}
.subscribe p {
  line-height: 1.7;
  font-size: 16px;
}
@media (max-width: 991px) {
  .subscribe form input[type="email"] {
    width: calc(100% - 100px);
  }
}
.subscribe p {
  width: 100%;
  text-align: center;
}
/* End Subscribe */
/* Start Contact*/
.contact {
  padding-bottom: 50px;
}
.contact .container .content {
  display: flex;
  justify-content: space-between;
}
.contact form {
  flex-basis: 70%;
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact form .main-input {
  padding: 20px;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ccc;
}
.contact form .main-input:focus {
  outline: none;
}
.contact form textarea.main-input {
  height: 200px;
}
.contact form input[type="submit"] {
  padding: 15px 20px;
  background-color: var(--secondaryColor);
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  border: 1px solid transparent;
}
@media (max-width: 767px) {
  .contact form input[type="submit"] {
    margin-bottom: 50px;
  }
}
.contact form input[type="submit"]:hover {
  background-color: white;
  color: var(--secondaryColor);
  border-color: var(--secondaryColor);
}
.contact .content .info {
  flex-basis: 25%;
}
.contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 18px;
}
.contact .content .info .phone {
  display: block;
  margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
.contact .content .info address {
  color: #777;
  line-height: 1.7;
  margin-bottom: 30px;
}
/* End Contact*/
/*Start Footer */
footer {
  padding: 50px 0;
  background-image: url(../images/portfolio1.jpg);
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}
footer::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
footer .container {
  position: relative;
}
footer .container img {
  margin-bottom: 30px;
  width: 150px;
  cursor: pointer;
}
footer p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  font-size: 20px;
  border-bottom: 1px solid white;
  width: fit-content;
  margin: 0 auto 30px;
}
footer .social-icons i {
  cursor: pointer;
  padding: 15px;
}
footer .copyright {
  margin-top: 50px;
}
footer .copyright span {
  font-weight: bold;
  color: var(--secondaryColor);
}
/* End Footer */
